@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Nav Bar */
.navigation {
  /* flexbox styles */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-family: 'Updock', cursive;
  list-style: none;
  margin: 0;
  background: #046a38;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: whitesmoke;
  color: black;
}

/* media query styles are only applied if the conditions are met */
@media all and (max-width: 800px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/* Font Styling for Nav Bar */
.heading {
  font-weight: bolder;
  font-family: 'Updock', cursive;
  color: #046a38;
  border-width: 20px;
}

.about-heading {
  font-weight: bolder;
  font-family: 'Titillium Web', cursive;
  color: #046a38;
  margin-left: 20px;
  margin-bottom: -6px; 
}


.option {
  font-family: "Titillium Web", sans-serif;
  margin-left: 10px;
}

.single-project {
  font-family: "Ubuntu", sans-serif;
  /* flexbox styles --> nav in top right corner*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: none;
}

.home { 
  position: relative; 
}
.home-image { 
  display: grid;
  height: 100%;
}

.image-format { 
  width: 100%;
  height: auto; 
}

.home-heading { 
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Titillium Web', cursive;
  color: #046a38; 
  font-size: 40px; 

}

.nav-heading { 
  position: absolute; 
  left: 20px; 
  top: 10px; 
  font-size: 30px; 
  color: white; 
}

.about-content{ 
  display: flex;
  flex-flow: row wrap;
  flex: wrap-column; 
}

.events-heading{ 
  font-weight: bolder;
  font-family: 'Titillium Web', cursive;
  color: #046a38;
  margin-left: 10px;
  margin-bottom: 10px; 
}

.mission-statement{ 
  margin-left: 10px;
  margin-right: 10px;  
}

.event-container{ 
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
}

.item{ 
  width: 50%; 
}

.item-text{ 
  margin-left: 20px; 
}

.recurring-events{ 
  font-weight: bolder;
  font-family: 'Titillium Web', cursive;
  color: #046a38;
  margin-left: 10px;
  margin-bottom: 10px; 
  margin-top: -10px; 
}

.indented-bullets{ 
  margin-left: 20px; 
  margin-bottom: 20px; 
}

.main-bullets{ 
  margin-bottom: 10px;
}

.project-select{ 
  margin-left: 20px; 
  font-family: 'Titillium Web', cursive;
}

.create-form{ 
  margin-left: 50px; 
  margin-top: 30px; 
  margin-bottom: 30px; 
  border: 5px green; 
  text-align: left;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


.each-project { 
  margin-left: 20px; 
  margin-right: 50px; 
  margin-top: 10px; 
  border-style: 10px solid green; 
  font-family: 'Titillium Web', cursive; 
}




.other-project{ 
  color: green; 
}


button {
  
  box-shadow: 0px 10px 14px -7px #6b7a64;
	background:linear-gradient(to bottom, #046a38 5%, #046a38 100%);
	background-color:#046a38;
	border-radius:4px;
	border:1px solid #282c34;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #046a38;
}

.create-button{ 
  margin-left: 30px; 
}

.new-project-description{ 
  font-family: 'Titillium Web', cursive;
  margin-left: 20px;
  margin-bottom: 10px; 
  margin-top: 10px; 
}


.new-project-form{ 
  font-family: 'Titillium Web', cursive;
  border:  1px solid #046a38; 
  margin-top: 10px; 
  margin-left: 20px; 
  margin-right: 50px; 
}

.submit { 
  margin-bottom: 10px; 
}

.logout-button { 
  margin-top: 20px;
  margin-left: 20px; 
  text-align: center; 
}

.logged-in-heading{ 
  font-family: 'Titillium Web', cursive;
  margin-left: 20px; 
}

.logged-in-buttons{ 
  margin-top: 30px; 
  margin-left: 40px; 
}

.form-group{ 
  margin-left: 30px; 
  margin-top: 20px; 
  font-family: 'Titillium Web', cursive; 
}

.not-authorized{ 
  font-family: 'Titillium Web', cursive; 
  text-align: center; 
  font-weight: bolder;
  font-family: 'Titillium Web', cursive;
  color: #046a38;
  margin-left: 20px;
  margin-bottom: -6px; 
}

.redirect-buttons{ 
  text-align: center; 
}