/* Nav Bar */
.navigation {
  /* flexbox styles */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-family: "Ubuntu", sans-serif;

  list-style: none;
  margin: 0;
  background: #046a38;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: whitesmoke;
  color: black;
}

/* media query styles are only applied if the conditions are met */
@media all and (max-width: 800px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/* Font Styling for Nav Bar */
.heading {
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
  color: #046a38;
  background-color: #8c918e;
}

.option {
  font-family: "Ubuntu", sans-serif;
  margin-left: 10px;
}

.single-project {
  font-family: "Ubuntu", sans-serif;
  /* flexbox styles --> nav in top right corner*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: none;
}
/*
h1 {
 
  
}*/
/* Font styling for child component pages
 {
  font-family: "Ubuntu", sans-serif;
  margin-left: 10px;
}*/
